## Individual Assignment

In [153]:
data=pd.read_csv('IMDB-database-update.csv', encoding='latin1')
data.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [166]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3781 entries, 1084 to 0
Data columns (total 36 columns):
movie_ID                     3781 non-null int64
movie_title                  3781 non-null object
duration                     3781 non-null int64
color                        3781 non-null int64
title_year                   3781 non-null int64
country                      3781 non-null object
language                     3781 non-null object
content_rating               3781 non-null object
budget_USD                   3781 non-null int64
gross_USD                    3781 non-null int64
net_USD                      3781 non-null int64
profitable                   3781 non-null int64
director_name                3781 non-null object
director_top20?              3781 non-null object
director_facebook?           3781 non-null int64
director_facebook_likes      3781 non-null int64
actor_1_name                 3781 non-null object
actor_top20?                 3781 non-null int64
actor_1_facebook?            3781 non-null int64
actor_1_facebook_likes       3781 non-null int64
actor_2_name                 3781 non-null object
actor_top20?.1               3781 non-null int64
actor_2_facebook?            3781 non-null int64
actor_2_facebook_likes       3781 non-null int64
actor_3_name                 3781 non-null object
actor_top20?.2               3781 non-null int64
actor_3_facebook?            3781 non-null int64
actor_3_facebook_likes       3781 non-null int64
cast_total_facebook_likes    3781 non-null int64
movie_facebook?              3781 non-null int64
movie_facebook_likes;        3781 non-null int64
facenumber_in_poster         3781 non-null int64
num_voted_users              3781 non-null int64
num_user_for_reviews         3781 non-null int64
imdb_score                   3781 non-null float64
imdb_top_250                 3781 non-null int64
dtypes: float64(1), int64(26), object(9)
memory usage: 1.1+ MB

In [165]:
#How many rows and columns reflected on dataset file IMDB-database-update.csv?
data.shape
data=pd.DataFrame(index=data[''])

(3781, 36)

In [226]:
#What are the top 3 movies with highest nett profit in 2013?
data2013=data[data['title_year']==2013]
data2013.sort_values(by=['net_USD'],ascending=False)[['movie_ID','net_USD']].head(3)

      movie_ID    net_USD
1614      1615  294645577
236        237  292049635
57          58  250736600

In [227]:
#What are the top 3 movies with highest gross profit in 2009?
data2009=data[data['title_year']==2009]
data2009.sort_values(by=['gross_USD'],ascending=False)[['movie_title','gross_USD']].head(3)

                                 movie_title  gross_USD
0                                     Avatar  760505847
19       Transformers: Revenge of the Fallen  402076689
3094  Harry Potter and the Half-Blood Prince  301956980

In [232]:
#How many non-english movies are in the dataset?
len(data[data['language']!='English'])

153

In [202]:
#What are top 3 languages in the dataset aside English (based on number of movies)?
data[data['language']!='English']['language'].value_counts().head(3)

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

In [225]:
#What are the top 3 countries with the highest nett profit in all dataset times?
data[['country','net_USD']].groupby('country').net_USD.sum().sort_values(ascending=False).head(3)

country
USA          52003933174
UK            1531614524
Australia      252571616
Name: net_USD, dtype: int64

In [238]:
#What are the average budget of all movies in dataset in 2013?
data2013[['movie_title','budget_USD']].groupby('movie_title').budget_USD.mean()

movie_title
12 Years a Slave                          20000000
2 Guns                                    61000000
20 Feet from Stardom                       1000000
21 & Over                                 13000000
42                                        40000000
47 Ronin                                 175000000
A Good Day to Die Hard                    92000000
A Haunted House                            2500000
A Madea Christmas                         25000000
About Time                                12000000
Admission                                 13000000
Adore                                     16000000
After Earth                              130000000
American Hustle                           40000000
Anchorman 2: The Legend Continues         50000000
Antarctica: A Year on Ice                  1000000
August: Osage County                      25000000
Bad Grandpa                               15000000
Bad Words                                 10000000
Baggage Claim                              8500000
Battle of the Year                        20000000
Beautiful Creatures                       60000000
Before Midnight                            3000000
Begin Again                                8000000
Black Nativity                            17500000
Blood Ties                                25500000
Blue Jasmine                              18000000
Blue Ruin                                  1066167
Broken City                               35000000
Captain Phillips                          55000000
                                           ...
The Hunger Games: Catching Fire          130000000
The Immigrant                             16000000
The Incredible Burt Wonderstone           30000000
The Internship                            58000000
The Last Days on Mars                      7000000
The Last Exorcism Part II                  5000000
The Last Stand                            45000000
The Lone Ranger                          215000000
The Lunchbox                               1000000
The Mortal Instruments: City of Bones     60000000
The Purge                                  3000000
The Railway Man                           18000000
The Secret Life of Walter Mitty           90000000
The Smurfs 2                             105000000
The Spectacular Now                        2500000
The To Do List                             1500000
The Way Way Back                           5000000
The Wolf of Wall Street                  100000000
The Wolverine                            120000000
The World's End                           20000000
The Young and Prodigious T.S. Spivet      33000000
This Is the End                           32000000
Thor: The Dark World                     170000000
Trance                                    20000000
Turbo                                    135000000
Walking with Dinosaurs 3D                 80000000
Warm Bodies                               35000000
We're the Millers                         37000000
White House Down                         150000000
World War Z                              190000000
Name: budget_USD, Length: 158, dtype: int64

In [257]:
data2013.iloc[[1,3,6],1:5]

                movie_title  duration  color  title_year
1596  Jack the Giant Slayer       114      1        2013
2587               R.I.P.D.        96      1        2013
95              After Earth       100      1        2013

In [258]:
#What are the average budget of all movies in dataset in 2014?
data2014=data[data['title_year']==2014]
data[data['title_year']==2014][['movie_title','budget_USD']].groupby('movie_title').budget_USD.mean()

movie_title
22 Jump Street                                      50000000
3 Days to Kill                                      28000000
300: Rise of an Empire                             110000000
A Haunted House 2                                    4000000
A Lego Brickumentary                                 1000000
A Million Ways to Die in the West                   40000000
A Most Violent Year                                 20000000
A Most Wanted Man                                   15000000
A Walk Among the Tombstones                         28000000
About Last Night                                    12500000
Addicted                                             5000000
Aloft                                                8000000
American Sniper                                     58800000
And So It Goes                                      18000000
Annabelle                                            6500000
Annie                                               65000000
Atlas Shrugged: Who Is John Galt?                    5000000
Before I Go to Sleep                                22000000
Beyond the Lights                                    7000000
Big Eyes                                            10000000
Big Hero 6                                         165000000
Birdman or (The Unexpected Virtue of Ignorance)     18000000
Black or White                                       9000000
Blended                                             40000000
Boyhood                                              4000000
Brick Mansions                                      28000000
Captain America: The Winter Soldier                170000000
Dawn of the Planet of the Apes                     170000000
Deliver Us from Evil                                30000000
Desert Dancer                                        4000000
                                                     ...
The Hundred-Foot Journey                            22000000
The Hunger Games: Mockingjay - Part 1              125000000
The Imitation Game                                  14000000
The Interview                                       44000000
The Judge                                           50000000
The Legend of Hercules                              70000000
The Lego Movie                                      60000000
The Maze Runner                                     34000000
The Monuments Men                                   70000000
The November Man                                    15000000
The Nut Job                                         42000000
The Other Woman                                     40000000
The Purge: Anarchy                                   9000000
The Theory of Everything                            15000000
The Water Diviner                                   22500000
Think Like a Man Too                                24000000
This Is Where I Leave You                           19800000
Top Five                                            12000000
Transcendence                                      100000000
Transformers: Age of Extinction                    210000000
Tusk                                                 3000000
Unbroken                                            65000000
Unfriended                                           1000000
When the Game Stands Tall                           15000000
While We're Young                                   10000000
Whiplash                                             3300000
Wild                                                15000000
Winter's Tale                                       60000000
Wish I Was Here                                      6000000
X-Men: Days of Future Past                         200000000
Name: budget_USD, Length: 143, dtype: int64

In [269]:
#Which one is higher, average budget of all movies in dataset in 2014 or 2013? 
np.max([np.mean(data2013['budget_USD']),
        np.mean(data2014['budget_USD'])])
#np.mean(data2013['budget_USD'])
#np.mean(data2014['budget_USD'])

51069610.77439024

In [263]:
np.mean(data2013['budget_USD'])

51069610.77439024

In [270]:
#What movie that resulted highest nett profit of all dataset times? How much did the movie make?
data[data['net_USD']==np.max(data['net_USD'])

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0